<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iTunesEntity</key>
	<array>
		<dict>
			<key>name</key>
			<string>All</string>
			<key>key</key>
			<string>all</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Movies</string>
			<key>key</key>
			<string>movie</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Podcast</string>
			<key>key</key>
			<string>podcast</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Music</string>
			<key>key</key>
			<string>musicTrack</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Music Video</string>
			<key>key</key>
			<string>musicVideo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Audiobook</string>
			<key>key</key>
			<string>audiobook</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Short Film</string>
			<key>key</key>
			<string>shortFilm</string>
		</dict>
		<dict>
			<key>name</key>
			<string>TV Show</string>
			<key>key</key>
			<string>tvEpisode</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Software</string>
			<key>key</key>
			<string>software</string>
		</dict>
		<dict>
			<key>name</key>
			<string>eBook</string>
			<key>key</key>
			<string>ebook</string>
		</dict>
	</array>
</dict>
</plist>
